<div class="show">
<h1> <%= @pet.name %> </h1>
<p> Age: <%= @pet.age %></p>
<p> Species: <%= @pet.species %></p>
<p> Gender: <%= @pet.gender %></p>
<p> Price: $<%= @pet.price %></p>

<%= link_to 'Back to Pet Listings', pets_path %>
</div>
