<div class="container-dash">
  <h2>Welcome to your Dashboard</h2>
</div>

<br>

<div class="container-dash">
    <h3>Your Bookings</h3>
      <div class="col-12">
        <div class="columns is-centered">
          <div class="cards">
            <% @bookings.each do |booking| %>
            <div class="div">
                    <p><%= booking.pet.name %> | <%= booking.pet.species %> </p>
                    <p> <%= booking.pet.gender %> | <%= booking.pet.age %>yr</p>
                    <p><%= booking.start_date %> to <%= booking.end_date %> </p>
                    <p>Owned by <%= booking.pet.user.email %></p>
                    <p> Status: <%= booking.status %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>

<br>

<div class="container-dash">
  <h3>Bookings for your Pets</h3>
  <div class="col-12">
    <div class="columns is-centered">
      <div class="cards">
          <% @pet_bookings.each do |booking| %>
              <div class="div">
                <p><%= booking.pet.name %> | <%= booking.pet.species %> </p>
                <p> <%= booking.pet.gender %> | <%= booking.pet.age %>yr</p>
                <p><%= booking.start_date %> to <%= booking.end_date %> </p>
                <p>Booked by <%= booking.user.email %></p>
                <p> Status: <%= booking.status %></p>
                <%  if booking.status == 'Pending' %>
                  <div class="button-container">
                    <div style="display: inline-block;">
                      <%= button_to "Accept", accept_booking_path(booking), class: "btn btn-outline-primary", method: :post, style: "border-radius: 20px;"%>
                    </div>
                    <div style="display: inline-block;">
                      <%= button_to "Decline", reject_booking_path(booking), class: "btn btn-outline-primary", method: :post, style: "border-radius: 20px;"%>
                    </div>
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<br>


<div class="form-mod">
<%= simple_form_for(@pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :species %>
  <%= f.input :gender %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
