<h1>Welcome to your Dashboard <%= current_user.email %></h1>
<ul>
  <p>View your listings</p>
  <br>
  <p>Edit or delete your listings</p>
  <br>

<%= link_to 'View listings', pets_path %>

<p>Edit your listing</p>

<div class="container">
    <h3>Your Bookings</h3>
      <div class="col-12">
        <div class="columns is-centered">
          <div class="cards">
            <% @bookings.each do |booking| %>
            <div class="div">
                    <p><%= booking.pet.name %> | <%= booking.pet.species %> </p>
                    <p> <%= booking.pet.gender %> | <%= booking.pet.age %>yr</p>
                    <p><%= booking.start_date %> to <%= booking.end_date %> </p>
                    <p>Owned by <%= booking.pet.user.email %></p>
                    <p> Status: <%= booking.status %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>

<div class="container">
    <h3>Bookings for your Pets</h3>
    <div class="col-12">
      <div class="columns is-centered">
        <div class="cards">
            <% @pet_bookings.each do |booking| %>
                <div class="div">
                  <p><%= booking.pet.name %> | <%= booking.pet.species %> </p>
                  <p> <%= booking.pet.gender %> | <%= booking.pet.age %>yr</p>
                  <p><%= booking.start_date %> to <%= booking.end_date %> </p>
                  <p>Booked by <%= booking.user.email %></p>
                  <p> Status: <%= booking.status %></p>
                  <%  if booking.status == 'Pending' %>
                    <%= button_to "Accept", accept_booking_path(booking), class: "btn btn-outline-success", method: :post%>
                    <%= button_to "Decline", reject_booking_path(booking), class: "btn btn-outline-danger", method: :post%>
                  <% end %>
                </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>

<div>
<%= simple_form_for(@pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :species %>
  <%= f.input :gender %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.button :submit, class: 'btn btn-primary'%>
<% end %>
<<<<<<< HEAD

=======
</div>
>>>>>>> 219b10eb2a04d2c8338594d647c6c5cc0ab687ec
